body {
    background-image: url(https://lh3.googleusercontent.com/proxy/lk5ZNMSrxldnNimym8pgRn1K3_bCdWtvJbJ0GhSUdoXGSdjaPUmrcsE-wPLb1ipgeIepGswWGdhRJzOGzT76SGQzCxohlzZrL-cPX-SMWR8-JRVtAo0-POf2X1emqBNwF4a20EfnkBK2KVHrA3Arcgzs9vID-d0hsSZUhT2wwRAaxeNvr77_fkEh8qQPpzt2rpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;

    
}
